## <center> W1S2 | Python - I

---

### 1. Python Comments

In [ ]:
# This is Python Comment - Used to describe the code

In [ ]:
"""
This is multi-line comment in Python
You can use this to describe multiple things at the same time about the code
"""

In [ ]:
You can highlight the code and press ctrl + / to comment full code!
Here is the example.
Select the full code
Now press ctrl + / and see the magic

### 2. Strings

In [ ]:
# Strings - When you encapsulate a thing within quotations (single, double, tripple) are expresed as string
"This is a string"

'This is a string'

In [ ]:
# Use type() command in Python to check the data type
type('This is a string')

str

In [ ]:
# Use print() command to print Hello World!
print('Hello World')

Hello World

In [ ]:
# By the way the comment below is also a string! It can be used for multi-line comments as explained above
'''
You might notice that we didn't use print command in previous code cells, yet it was printing it
Now, that's how this colab notebook works!
- Just note that it prints without print statement only for the last code line in your code cell
- If you have multiple lines of code, it won't print data if it is not the last line
'''

# Check the code below
'This will be printed now'
"The above line won't be printed. Use print() command on it to print that as well!"

"The above line won't be printed. Use print() command on it to print that as well!"

In [ ]:
"""
Check what happens if you write the text without quotation marks
- It shall raise a NameError as Python recgonize text without quotation marks as variables/constants
- As we haven't defined such a thing yet, it shall raise the error
"""
demo_string

### 3. Variables and Constants

In [ ]:
# Variables can store different data types. Let's store a string in a variable called demo_string
demo_string = 'This is a demo string'

In [ ]:
# Now demo_string variable can be written without quotation mark as we have defined what it means
demo_string

'This is a demo string'

In [ ]:
# Constant are defined in upper case letters. This indicates that this value doesn't change anywhere in code
PERMANANT_STRING = 'This String will never be altered in this code!'

#### 4. f-String

In [ ]:
# We use f-string to print a variable that can take multiple values! Check the example below

In [ ]:
# Define a variable that stores the information about moons count of Saturn
saturn_moons = 146

In [ ]:
# Print the statement displaying the count of moons of Saturn
print('Saturn has 146 Moons') # If saturn's moons count increases in future, we manually have to change this value

Saturn has 146 Moons

In [ ]:
# f-string method to dyanamically change the value based on the varibale!
saturn_moons = 146 # Change this value to cross check how it works
print(f"Saturn has {saturn_moons} Moons") # Make sure that variables are mentioned within {} brackets

Saturn has 146 Moons

### 5. Numeric Data Types

In [ ]:
# Create bunch of variables and store numeric data in them
var1 = 8
var2 = 8.0
var3 = 16/2
var4 = 123
var5 = 123.5

In [ ]:
# Check the type for each and every variables above
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))
print(type(var5))

<class 'int'>
<class 'float'>
<class 'float'>
<class 'int'>
<class 'float'>

### 6. Data Type Conversions

In [ ]:
# Convert an integer into a string
int_data = 3
print(int_data)
print(type(int_data))

print()

int_to_str_data = str(int_data)
print(int_to_str_data)
print(type(int_to_str_data))

3
<class 'int'>

3
<class 'str'>

In [ ]:
# Convert that same integer data into float
int_to_float_data = float(int_data)
print(int_to_float_data)
print(type(int_to_float_data))

3.0
<class 'float'>

In [ ]:
# Convert the string data to float
str_data = '3'
print(str_data)
print(type(str_data))

print()

str_to_float_data = float(str_data)
print(str_to_float_data)
print(type(str_to_float_data))

3
<class 'str'>

3.0
<class 'float'>

In [ ]:
# Note that only numeric strings can be converted to numeric data
str_data = 'Non-Numeric String'
str_to_numeric_data = float(str_data)

In [ ]:
# Numeric string with decimals cannot be converted to integers!
str_float_data = '3.2'
str_to_int_data = int(str_float_data)

3.2
<class 'float'>

### 7. Boolean Data Type and Python Operators

In [ ]:
# Boolean --> True or False
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [ ]:
# It is mostly used to check conditions in Python and get a boolean output for the same
print(5>2)
print(5<2)
print(5+1==3+3)   # Equal Condition
print(3-2!=1)     # Not Equal Condition

True
False
True
False

In [ ]:
# Any data if not 0 or empty is of True Boolean type, else it is False
print(bool(1))
print(bool(2.5))
print(bool('3'))
print(bool(0))
print(bool('0'))
print(bool())

True
True
True
False
True
False

In [ ]:
# Guess the output of this code
print(bool(int('0')))

In [ ]:
# Modulo operator
3%2 # Gives you the remainder of 3/2

1

In [ ]:
# Normal Division
5/2 # Performs the division operation

2.5

In [ ]:
# Floor Division
5//2 # Rounds down to integer of 5/2 output

2

### 8. Take User Input

In [ ]:
# Using input() method you can ask user to provide some information
input('Enter your Name:- ')

Enter your Name:- Rohan

'Rohan'

In [ ]:
# You can also store the user input as a variable/constant
number = input('Enter your favourite number:- ')

Enter your favourite number:- 7

In [ ]:
# Guess the data type of variable number
print(type(number))

<class 'str'>

In [ ]:
# How will take an input from user and convert it to numeric type?
user_input_num = int(input('Choose any number between 1 to 10:- '))
print(type(user_input_num))

Choose any number between 1 to 10:- 5
<class 'int'>

### 9. Common String Operations

In [ ]:
# Count the length of the string
str_ = 'How many charachters are there in this string?'
print(len(str_)) # len command helps you count it (also counts space as one charachter)

46

In [ ]:
# Change the first letter of every word to upper case
str_method_1 = 'this is a string'
print(str_method_1)

str_method_1 = str_method_1.title()
print(str_method_1)

this is a string
This Is A String

In [ ]:
# Change the string to upper case
str_method_2 = str_method_1.upper()
print(str_method_2)

THIS IS A STRING

In [ ]:
# Change the string to lower case
str_method_3 = str_method_2.lower()
print(str_method_3)

this is a string

In [ ]:
# Split a string
str_method_4 = str_method_3.split(" ") # within quotes you give the str splitter
print(str_method_4) # output will be stored as a list - it one of the most used data structure to store data

['this', 'is', 'a', 'string']

In [ ]:
# Replace a string

# Create a string
demo_string = 'Hello\nThis is the second line'
print('Before:-')
print(demo_string)

print()

# Replace \n with a space
demo_string = demo_string.replace("\n", " ")
print('After replacing the string:-')
print(demo_string)

Before:-
Hello
This is the second line

After replacing the string:-
Hello This is the second line

<img src='https://cdn.programiz.com/sites/tutorial2program/files/python-list-index.png' width=50%>

In [1]:
# Indexing String

# Python index starts from index 0 (from the end it starts from -1 - both side indexing is possible)

str_ = 'probe'

# Grab 'b' from the above string using positive and negative indexing
print(str_[3])
print(str_[-2])

b
b

In [ ]:
# Slicing String

# Grab 'rob' from the string above
print(str_[1:-1]) # [inclusive_index_value:exclusive_index_value]
print(str_[1:4])

# Grab 'obe' from the string above
print(str_[2:5])
print(str_[2:])

rob
rob
obe
obe

In [ ]:
# Can you grab 'pro' from the above string?
print(str_[:3])

pro

### 10. Practice Questions and its Solutions - Try by yourself

**Q1)** Is the code below a correct way to comment the code in Python?

```
"'"
Python Comment Line - 1
Python Comment Line - 2
"'"
```

**A1)** Nope, as there is a mixture of single and double quotations, it is not a correct way to comment a Python code.
* You can either have a single quotes or double quotes  for three times for a valid python comment for multiple lines.

In [ ]:
"'"
Python Comment Line - 1
Python Comment Line - 2
"'"

In [ ]:
# Correct way for multiline comments in Python
"""
Python Comment Line - 1
Python Comment Line - 2
"""

**Q2)** Follow the steps below:-
1. Create three variables that will store your name, date of birth and height.
2. Print the statement that introduces the person based on the input details.

**Note:-** No specific format to follow, introduce the user the way you want. Keep the tone as first person.

In [ ]:
# Write your solution here

In [ ]:
# Soln
name = input('Enter your name:- ').title() # title will ensure the first letter of each word is capital
dob = input('Give your Date of Birth in the format (dd/mm/yyyy):- ')
height = input('Give your height in the format (x Ft and y In):- ')
print()

# Using f-string for this task
print(f'Hello, I am {name} and I was born on {dob}. My height is {height}.')

Enter your name:- rohan shah
Give your Date of Birth in the format (dd/mm/yyyy):- 21/01/1887
Give your height in the format (x Ft and y In):- 10 Ft 1 In

Hello, I am Rohan Shah and I was born on 21/01/1887. My height is 10 Ft 1 In.

**Q3)** Follow the steps:-
1. Ask user to input any number of their choice.
2. Ask again to input any number of their choice.
3. Give them the sum of the two numbers they provided.

**Note:-** Give an introduction of what you want from user and what is it all about.

In [ ]:
# Write your solution here

In [ ]:
# Introduce user to the interface
print('Give me two numbers, and I will find its sum for you...')
print()

# Take user inputs
num1 = float(input('Choose any number of your choice:- '))
num2 = float(input('Choose another number of your choice:- '))

print()

# Output will display the following content - Note we used ''' ''' for multiline in print
print(f'''You provided {num1} and {num2} as two inputs.
Here is the sum of these two numbers:- {num1} + {num2} = {num1+num2}''')

Give me two numbers, and I will find its sum for you...

Choose any number of your choice:- 8
Choose another number of your choice:- 2

You provided 8.0 and 2.0 as two inputs.
Here is the sum of these two numbers:- 8.0 + 2.0 = 10.0

**Q4)** Print `True` or `False` based on if the user input numbers in Q3 are divisible by each other.
* Basically, check if the first number given by the user is divisible by the second number or not
* You are not supposed to use `if-else` statements

In [ ]:
# Write your code here

In [ ]:
# Soln
print(num1%num2==0)

True

**Q5)** How many errors can you spot?

```
var1 = '2.3'
Print(This is not a valid code)
```

Give reason to your answer.

**A5)** Below are the mistakes in the code above:-
1. `Print()` isn't the correct command in Python. It should be `print()`.
2. The input of the print is wihtout quotation and the input isn't predefined hence it is an error.

In [ ]:
var1 = '2.3'
Print(This is not a valid code)

In [ ]:
# The correct code would be
var1 = '2.3' # unused variable in the code cell
print('This is not a valid code') # fixed code

This is not a valid code

---

## In this notebook we covered
1. Python comments
2. Strings
3. Variables
4. f-Strings
5. Numeric Data Type
6. Data Type Conversions
7. Boolean Data Type and Python Operators
8. User Input
9. Common String Operations
10. Practice Questions - Try Yourself