# <center> W2S2 | Python II

* Python Inputs
* String Operations
* List
* Tuple
* Convert List to tuple & Vice Versa
* Dictionaries
* Control Flow

#### 1. Python Inputs

In [2]:
name = input('Enter your First Name:- ')

Enter your First Name:- Rohan

In [4]:
print(type(name))

<class 'str'>

In [5]:
num = input('Give me your fav number:- ')

Give me your fav number:- 7

In [6]:
print(type(num))

<class 'str'>

In [10]:
int_num = float(input('Give me your fav number:- '))

Give me your fav number:- 2.1

In [11]:
type(int_num)

float

### 2. Common Useful String Operations

In [13]:
# Any time if you want to check the length of a string then use len() command
str_ = 'What is the length of this string?'
print(len(str_))

5

In [20]:
# Use .title() method on string to convert first charachter of the word to upper case
str_1 = 'this is a String!'
str_2 = str_1.title()
print(str_2)

This Is A String!

In [21]:
# Use .capitalize() method on string to make only the first characheter of the string to upper case
str_1.capitalize()

'This is a string!'

In [25]:
# Use .lower() and .upper() to have a string with all lower cases and all upper cases respectively
print(str_1.lower())
print(str_1.upper())

this is a string!
THIS IS A STRING!

In [27]:
# Use .split(charachter to split from) to split the string into different parts and store it as a list
str_1.split(" ")

['this', 'is', 'a', 'String!']

In [29]:
# Index String
demo_string = 'This is another String!'
print(demo_string[8])  # With positive index starting from T at index 0
print(demo_string[-15])# With negative index srating from ! at index -1

a
a

In [30]:
# Fetch i from This in above string
demo_string[2]

'i'

In [35]:
# Slicing a string --> Fetch 'another' from demo_string
demo_string[8:15:4] # Slice concept --> str[start_index:end_index+1:skip_step]

'ah'

In [58]:
# Negative skip_step value will change the format to end_index+1 as start and start_index as end
example_string = 'word'
example_string[::-3]

'dw'

### 3. List

In [59]:
fav_planets = ['Earth', 'Saturn', 'Venus']
print(fav_planets)

['Earth', 'Saturn', 'Venus']

In [60]:
# Nested List
nested_list = ['string', 3, 3/2, -2.3, ['nested_list', 2, 3, 5, 'Spartificial'], 'Lunar Exploration', 8.0]
print(nested_list)

['string', 3, 1.5, -2.3, ['nested_list', 2, 3, 5, 'Spartificial'], 'Lunar Exploration', 8.0]

In [69]:
# Indexing a list
type(nested_list[4])

list

In [65]:
# Guess the output
nested_list[4][-1]

'Spartificial'

In [71]:
# Change the element if you want using index concept
nested_list[4] = 7

In [73]:
# to add element to fav_planets list, use .append(element) on that fav_planets list
fav_planets.append('Mars')
print(fav_planets)

['Earth', 'Saturn', 'Venus', 'Mars']

In [ ]:
# Research on how this works! .insert()
#fav_planets.insert()

In [76]:
# list.remove(element) can be used to remove any element from the list
fav_planets.remove('Earth')
fav_planets

ValueError: ignored

In [78]:
print(fav_planets)

['Venus', 'Mars']

### 4. Tuple

In [80]:
# Tuples cannot be changed hence they are called immutable
tup_1 = (2, 3, [3, 4], (3.2, 1.2, 'string'), -9)
print(tup_1)

(2, 3, [3, 4], (3.2, 1.2, 'string'), -9)

In [81]:
type(tup_1)

tuple

In [83]:
tup_1[2]

TypeError: ignored

### 5. Unpacking of list and tuple

In [89]:
x, y, *others = (1, 2, 3, 4, 5, 6, 7, 8)
print(x)
print(y)
print(others) # by default this will be stored as a list in Python

1
2
[3, 4, 5, 6, 7, 8]

### 6. Conversion between list and tuple

In [91]:
demo_tuple = (1, 2, 'sdaoisjdiasd', 'dasjgdajshdkad', -1.0)
tuple_to_list = list(demo_tuple)
print(type(demo_tuple))
print(type(tuple_to_list))

<class 'tuple'>
<class 'list'>

### 7. Dictionary

In [103]:
# It stores data in the form of key-value pair

inner_planets_moon_info = {'Mercury' : 0,
                           'Venus' : 0,
                           'Earth' : 1,
                           'Mars' : 2}

type(inner_planets_moon_info)

dict

In [97]:
print(inner_planets_moon_info)

{'Mercury': 0, 'Venus': 0, 'Earth': 1, 'Mars': 2}

In [104]:
# Print the moons of Mars
inner_planets_moon_info['Earth'] = 2

In [105]:
print(inner_planets_moon_info)

{'Mercury': 0, 'Venus': 0, 'Earth': 2, 'Mars': 2}

In [106]:
# Add Jupiter Key with value of 92
inner_planets_moon_info['Jupiter'] = 92
print(inner_planets_moon_info)

{'Mercury': 0, 'Venus': 0, 'Earth': 2, 'Mars': 2, 'Jupiter': 92}

In [108]:
# Remove the jupiter value using pop operation
jupiter_moons = inner_planets_moon_info.pop('Jupiter')
print(inner_planets_moon_info)

{'Mercury': 0, 'Venus': 0, 'Earth': 2, 'Mars': 2}

In [109]:
print(jupiter_moons)

92

In [115]:
list(inner_planets_moon_info.items())

[('Mercury', 0), ('Venus', 0), ('Earth', 2), ('Mars', 2)]